@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-open-sans);
}

.font-open-sans {
  font-family: var(--font-open-sans);
}
.font-manrope {
  font-family: var(--font-manrope);
}
.container {
  width: 80%;
  margin-left: 10%;
}
